.opacity-picker {
  width: 200px;
  min-height: 24px;
  position: relative;
}

.opacity-picker:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../Transparent.svg');
  background-size: 25px 25px;
  z-index: -1;
}

.opacity-picker-slider {
  position: absolute;
  height: 26px;
  width: 10px;
  background: red;
}